{% extends 'base.html' %}

{% block content %}
    <h1>A/B Testing Behaviours</h1>
    <p>Implementation for comparing and selecting the best performing behaviours will go here.</p>

    <h3>Add New Behaviour</h3>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name }}
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}