{% extends 'base.html' %}

{% block content %}
    <h1>A/B Testing Images</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-4">
                <a href="{{ url_for('ab_testing_images_choose', choice='item1', item1_name=item1[1], item2_name=item2[1]) }}" class="card">
                    <img src="{{ url_for('static', filename=item1[0]) }}" alt="{{ item1[1] }}" class="card-img-top img-fluid">
                </a>
                <p>{{ item1[2] }}</p>
            </div>

            <div class="col-md-6 text-center mb-4">
                <a href="{{ url_for('ab_testing_images_choose', choice='item2', item1_name=item1[1], item2_name=item2[1]) }}" class="card">
                    <img src="{{ url_for('static', filename=item2[0]) }}" alt="{{ item2[1] }}" class="card-img-top img-fluid">
                </a>
                <p>{{ item2[2] }}</p>
            </div>
        </div>
    </div>
    <hr>
    <h2>Add New Image</h2>
    <form method="POST" action="">

        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Image</button>
    </form>
{% endblock %}